html, body {
  margin-top: 0;
  margin: 0;
}
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #59b4c6;
  }

  li {
    float: right;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover {
    background-color: magenta;
  }
  .active {
    background-color: #4f61ea;
    color: black;

  }
